html {
  --main-color: #ece5c7;
  --nav-color: #eae0b2;
  --nav-border: #a9875d;
  --main-font: #4c3734;
  --shadow: #6e6e77;
  --typefont-blue: #1c5269;
  --typefont-yellow: #625524;
  --typefont-orange: #a86110;
  --typefont-red: #870915;
  --light-hidden: none;
  --dark-hidden: block;
}
html.dark {
  --main-color: #15181b;
  --nav-color: #22272e;
  --nav-border: #444c56;
  --main-font: #adbac7;
  --shadow: #0b0b0b;
  --typefont-blue: #1175a0;
  --typefont-yellow: #dab62a;
  --typefont-orange: #db7f15;
  --typefont-red: #bd2837;
  --light-hidden: block;
  --dark-hidden: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: Consolas, monaco, monospace;
}
::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
  color: var(--main-font);
}
button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}
#themeSwitch {
  -webkit-appearance: none;
  position: relative;
  outline: 0;
  border-radius: 8px;
  width: 80px;
  height: 30px;
  background-color: #a9875d;
  z-index: 1;
  cursor: pointer;
}
#themeSwitch:checked {
  background-color: #090a0c;
}
#themeSwitch::after {
  content: "";
  position: absolute;
  width: 30px;
  border-radius: 5px;
  height: 20px;
  background-color: #4c3734;
  z-index: 2;
  top: 5px;
  left: 5px;
  transition: left 0.2s ease-out;
}
#themeSwitch:checked::after {
  left: 45px;
  background-color: #ffffff;
  transition: 0.2s ease-out;
}
