.homeSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 0 4rem;
}
.leftHome {
  position: relative;
  display: flex;
  z-index: 1;
}
.name {
  display: flex;
}
.nameSection {
  color: var(--main-font);
  font-size: 3rem;
}
.typingEffect {
  margin-left: 1ch;
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid var(--main-font);
  animation: typing 6s steps(9) infinite, blink 0.5s step-end infinite alternate;
}
.typingColor {
  animation-fill-mode: forwards;
  animation: colorChange 24s infinite;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.skillContainer {
  margin-top: 1rem;
  display: flex;
  gap: 1ch;
  font-size: 1.5rem;
}
.skillCapsule {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
}
.capsuleViolet {
  border: 2px solid #c1b8e3;
  color: #c1b8e3;
  background-color: #303054;
}
.capsuleOrange {
  border: 2px solid #ee8659;
  color: #ee8659;
  background-color: #402e2a;
}
.capsuleEmerald {
  border: 2px solid #1ca4aa;
  color: #1ca4aa;
  background-color: #1c383b;
}
.buttonSection {
  position: relative;
  z-index: 1;
}
.contactButton {
  position: absolute;
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #fff;
  padding: 0.5rem;
  background-color: #347d39;
  box-shadow: 0px 6px 0px #255128;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  top: 0;
}
.contactButton::before {
  content: "";
  z-index: -1;
  width: 104%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--shadow);
  position: absolute;
  transition: all 0.2s ease;
  top: 12px;
  left: -2%;
}
.contactButton:hover {
  background-color: #449249;
  box-shadow: 0px 3px 0px #255128;
  top: 3px;
}
.contactButton:hover::before {
  left: -1%;
  width: 102%;
  top: 6px;
}
.contactButton:active {
  background-color: #5fa964;
  box-shadow: 0px 0px 0px #255128;
  top: 6px;
}
.contactButton:active::before {
  top: 0px;
  width: 100%;
  left: 0;
}
@keyframes typing {
  0% {
    width: 0;
  }
  30% {
    width: 9ch;
  }
  96% {
    width: 9ch;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes colorChange {
  0% {
    color: #1175a0;
  }
  24.99% {
    color: #1175a0;
  }
  25% {
    color: #dab62a;
  }
  49.99% {
    color: #dab62a;
  }
  50% {
    color: #db7f15;
  }
  74.99% {
    color: #db7f15;
  }
  75% {
    color: #bd2837;
  }
  99.99% {
    color: #bd2837;
  }
  100% {
    color: #1175a0;
  }
}
